.App {
  display: grid;
  grid-template-areas: auto/ 1fr 1fr;
  height: 100%;
  width: 100%;
}

.canvas {
  grid-column: 2;
  grid-row: 1 / 3;
  height:75%;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.aleph {
  grid-column: 1;
  animation: spin 3s linear infinite;
  fill: rgb(118, 0, 0);
  width: 50%;
  margin-top: 10%;
  justify-self: center;
}

button {
  grid-column: 1;
  justify-self: center;
  width: 100px;
  height: 50px;
}