@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr, 2fr;
  background-color: black;
}

.top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row: 1;
}

.aleph-container {
  display: flexbox;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  background-image: url('./doodle_in_black_and_white_by_layla_rose_d1m4nvm.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10%;
  padding-left: 10%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.aleph {
  animation: spin 3s linear infinite;
  fill:white;
}

.control-panel {
  grid-row: 1;
  grid-column: 2;
}

.button {
  display: inline;
  justify-self: center;
  margin-top: 50%;
  width: 50px;
  height: 50px;
}



form {
  margin: 20px 0 10px 25%;
}

input {
  margin: 5px 0 5px 0;
  width: 300px;
}

footer {
  color: white;
}