.App {
  text-align: center;
  background-image: url('./resources/tumblr_mys9xiZQAM1sxm8cbo1_500.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.aleph {
  animation: spin 3s linear infinite;
  fill: rgb(228, 0, 0);
  width: 50%;
  margin-top: 20%;
  justify-self: center;
}