.App {
  display: grid;
  grid-template: 25% 50% 1fr/ auto;
  text-align: center;
  background-image: url('./resources/tumblr_mys9xiZQAM1sxm8cbo1_500.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

.aleph { 
  grid-template-rows: 1 / 2;
  animation: spin 10s linear infinite;
  fill: rgb(255, 255, 255);
  margin-top: 20%;
  transform: scale(25%);
  justify-self: center;
}

.search-field {
  grid-template-rows: 2 / 3;
  text-align: center;
  width: 50%;
  height: 10%;
  margin-top: 10em;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
}

.control {
  margin-bottom: 25%;
}